argcomplete==3.5.3
attrs==25.3.0
autocommand==2.2.2
awscli==1.40.35
boto3==1.39.3
botocore==1.39.3
cement==3.0.14
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
colorlog==6.9.0
cryptography==45.0.4
distro==1.9.0
docutils==0.21.2
filelock==3.18.0
grepsr-cli==0.9.45
idna==3.10
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
more-itertools==10.7.0
packaging==25.0
pipx==1.7.1
platformdirs==4.3.6
psutil==7.0.0
pyasn1==0.6.0
pycparser==2.22
pygdbmi==0.11.0.0
python-dateutil==2.9.0
PyYAML==6.0.1
Reflector==2023.6.28.0.36.1
requests==2.32.4
rsa==4.9
s3transfer==0.13.0
semver==3.0.4
sentry-sdk==2.30.0
setuptools==80.9.0
six==1.17.0
smbus==1.1
TBB==0.2
terminaltables==3.1.10
urllib3==2.4.0
userpath==1.9.2
wheel==0.45.1
